<div ng-controller="View1Ctrl as view1Ctrl">
    <p>This is the partial for view 1.</p>

    <button ng-click="view1Ctrl.postData({'grant_type': 'Aegis', 'claim_provider_filter': 'Symphony'})">
        Submit
    </button>
</div>
